@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yarndings+20&display=swap');

.App {
  text-align: center;
}

.ingredient {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
  font-weight: bold;

}

.togButton {
  background-color: #fbaf32;
}

.butin {
  margin-top: 30px;
}

.NavLabel {
  font-size: 20px;
  color: white;
  padding-top: 0.4rem;
  text-decoration: none;
}

.NavLabel:hover {
  color: #fbaf32;
}

.navHead {
  position: relative;
  transition: .5s;
  z-index: 999;
  padding:25px 60px;
 

}

@media (min-width: 992px) {
  .navHead {
    position: fixed;
    top: 0;
    width: 100%;
    padding:15px;
    /* background: transparent !important; */
    /* background: #000000 transparent !important; */
    background: #000 !important;

    opacity: 0.6;
    /* z-index: 9; */
    box-shadow: 133px 2px 5px #fbaf32;
    z-index: 999;
  }
}

.viewMenu {
  font-size: 18px;
  background-color: #fbaf32;
  /* width: 20%; */
  height: 70px;
  margin-left: 30%;
  border: none;
  font-weight: bold;

}

.viewMenu:hover {
  color: #fbaf32;
  border: 2px solid #fbaf32;
  background-color: transparent;
  font-weight: bolder;
  font-weight: bold;

}

.viewTableButton {
  font-size: 18px;
  background-color: #719a0a;
  /* width: 20%; */
  height: 70px;
  margin-left: 1%;
  border: none;
  font-weight: bold;

}

.viewTableButton:hover {
  color: #719a0a;
  border: 2px solid #719a0a;
  background-color: transparent;
  font-weight: bolder;
  font-weight: bold;

}

#collapsible-nav-dropdown {
  color: white;
  font-size: 20px;
  margin-left: 12%;

}

#collapsible-nav-dropdown:hover {
  color: #fbaf32
}

#BurgarLogo {
  height: 70px;
  width: 100%;
}

.togButton {
  margin-right: 6%;
  border: 2px solid #ffffff;
}

.caurosel {
  background-image: url(../src/Images/blackD.jpg);
  
  width: 100%;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  
}

.Caurosel-image{
  height: 100vh;
   width: 100%;
    /* z-index:1; */
     background-size: contain;
     opacity:0.4
}

.cauStyle{
  position: relative;
  text-align: center;
  padding-bottom: 15%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}